
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 80px;*/
/*}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
/*font-family: 'Montserrat', sans-serif;
font-family: 'Anton', sans-serif;*/
#mainPic {
  border:3px solid black;
  margin-top: 2%;
  max-height:185px;
}
#closeBar {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 24px;
}
.arrowMargin {
  font-size: 80px;
}
/* .textAlignPortTwo {
  margin-left: 8%;
} */
#nav {
  margin:0;
  padding:0;
  background-image: url('./images/topBar_edited.jpg');
  color:white;
  background-size: cover;
  width:100%;
  height: 200px;
  border-bottom: 3px solid black;
  position: relative;
  top:-140px;
  white-space: nowrap;
  overflow: hidden;
}
.mainText {
  font-style: italic;
}
.textMarginTwo {
  margin-left:50px;
  margin-right:130px;
}
.textMargin {
  margin:50px;
}
.textMarginTech {
  margin: 50px 130px 50px 50px;
}
.fixHeadersBack{
  margin-left: 25%;
}
.fixHeadersEdu {
  margin-left: 30%;
}
.mainTextTwo {
  font-style: italic;
  font-weight: bold;
  line-height: 35px;
}
#background li {
  font-size: 18px;
}
ul {
  list-style-type: disc;
  margin-left: 2%;
}
.applicationMove {
  margin-top: 11%;
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.main-port-label {
  font-size: 55px;
  text-align: center;
  background: white;
  opacity: 0.5;
  border-radius: 5%;
}
.spotlight {
  opacity: 1.0;
}
a {
  font-size: 18px;
  cursor: pointer;
}
/* unvisited link */
a:link {
    color: black;
    cursor: pointer;

}

/* visited link */
a:visited {
    color: black;
    cursor: pointer;

}

/* mouse over link */
a:hover {
    color: green;
    cursor: pointer;

}

/* selected link */
a:active {
    color: blue;
    cursor: pointer;

}
#portImages a {
  font-size: 22px;
}
.pipe-fix {
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}
.projTitle {
  font-size: 22px;
  white-space: nowrap;
  /*margin-left: 4%;*/
}
.port-title-fix{
  text-align: center;
}
.port-bottom-text {
  display:flex;
  justify-content: center;
  font-size: 18px;
}
#portImages {
  color:black;
  background-image: url('./images/middlebar2.jpg');
  background-size: cover;
}
.mainTitleText {
  font-weight: bold;
  font-size: 20px;
  /*margin-right: 45px;*/
  /*white-space: nowrap;*/
}
.supportingText {
  font-size: 18px;
  font-style: italic;
  /*margin-right: 45px;*/
}

.mainContentHeader {
  font-size: 20px;
  font-weight: bold;
}

.boxBackgroundTwo {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 2%;
  /*opacity: .9;*/
  min-height: 150px;
  margin-bottom: 1%;
}
.centerMeTimbers {
  margin: 3%;
}
.portImageGroupModal {
  border: 1px solid black;
  margin-top: 23px;
}
.portImageGroup {
  border: 1px solid black;
  max-height: 200px;
  max-width: 360px;
}
.contactText {
  font-size: 20px;
  font-weight: bold;
}
#education {
  margin-top: 10px;

}
.mainText {
  font-style: italic;

}
.skillsTop {
  margin-top: 30px;
}
.center {
  text-align: center;
}
.boxBackground {
  color:white;
  padding: 10px;
  min-height: 250px;
}

.colorBox {
  width:100%;
  background-color: #005781;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
#secondColorBar {
  color:black;
  width:100%;
  margin:0;
}
.eduBoxes {
  color:white;
  border: 2px solid black;
  background-color: #860102;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  padding: 10px;
  margin-bottom: 5px;
}
.eduTitleBoxes {
  color:white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  /*text-align: center;*/
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid black;
  background-color: #860102;
  border-radius: 5%;
  padding: 10px;
  /*margin-bottom: 5px;*/
  /*width:100%!important;*/
}
#topMargin {
  margin-top: -80px;
  margin-bottom: 80px;
}
#contactBar {
  position: fixed;
  top: 214px;
  right:-3%;
}

#emailForm h2 {
  text-align: center;
}
#contactPort a {
  margin:0;
  padding:0;
}

.clear {
  float:clear;
}
#contactBarTwo {
  display:hidden;
}
#mainNameHeader {
  font-family: 'Anton', sans-serif;
  letter-spacing: 25px;
  font-size: 65px;
}
#emailFormat {
  font-family: 'Crimson Text', serif;
  font-size: 25px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-top: 5%;
}
.arrowBox {
  font-size: 65px;
}

#fixNavBar {
  text-align: center;
}
.textAlign {
  padding:0 5px 5px 5px;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 1901px) {
.applicationMove {
  justify-content: center;
}
}

@media screen and (max-width: 1200px) {
.textMarginTwo {
  margin-left: 50px;
  margin-right: 50px;
}
}

@media screen and (max-width: 991px) {
#contactBar {
  right:-8%;
}
#navNameHolder {
  margin-left: -14%;
  margin-top: 2%;
}
}

@media screen and (max-width: 960px) and (min-width:737px) {
  #recentProj {
    font-size: 35px;
  }

  .textMarginTwo {
    margin-left: 3px;
    margin-right: 78px;
  }
.textMargin {
  margin-right: 30px;
  margin-left: 0;
}
#mainNameHeader {
  letter-spacing: 11px;
  font-size: 36px;
}
#navNameHolder {
  margin-left: -15%;
  margin-top: 5%;
}
#emailFormat {
  font-size: 17px;
}
#nav {
  height:198px;
}
#contactBar {
  right: -8%;
}
}
@media screen and (max-width: 767px) {
  #contactBar {
    right: -6%;
  }
}
@media screen and (max-width: 736px) {
  #contactBar {
    right: -6.5%;
  }
  #recentProj {
    font-size: 43px;
    bottom:-390px;
    margin-bottom:50px;
  }
  #mainNameHeader {
    letter-spacing: 7px;
    font-size: 33px;
  }
  #navNameHolder {
    margin-left: -2%;
    margin-top: 10%;
  }
  #emailFormat {
    font-size: 16px;
    letter-spacing: 2px;
  }
  #nav {
    height:193px;
  }
}
@media screen and (max-width: 700px) {
.textMarginTwo {
  margin-left: 3px;
  margin-right: 30px;
}
}
@media screen and (max-width: 615px) {
  #contactBar {
    right: -7%;
  }
}
@media screen and (max-width: 615px) {

}
@media screen and (max-width: 568px) {
  #mainNameHeader {
    letter-spacing: 5px;
    font-size: 16px;
  }
  #navNameHolder {
    margin-left: -5%;
    margin-top: 6%;
  }
  #emailFormat {
    font-size: 10px;
    letter-spacing: 2px;
  }
  #nav {
    height:141px;
  }
  #contactBar {
    display:none!important;
  }
  #contactBarTwo {
    display:block;
    position:absolute;
    top:0.25%;
  }
  .textMarginTwo {
    margin-right:0;
    margin-top: 2%;
  }
  .RockPaperScissors-Multiplayer {
    margin-right: 0;
  }
}
@media screen and (max-width: 375px) {
.portImageGroup {
  max-width: 200px;
}
.projTitle {
  font-size: 14px;
}
.textAlignPort {
  font-size: 13px;
}
.port-bottom-text {
  font-size: 15px;
}
#portImages a {
  font-size: 13px;
}

.fixHeadersBack {
  margin-left: 0;
  font-size: 29px;
}
.fixHeadersEdu {
  margin-left: 0;
  font-size: 34px;
}
}
