/.idea
/.vscode
.env
api/.env
db-server/.env
portfolio-client/.env
portfolio-client/dist
buildProj.sh
portfolio-client/build
portfolio-client/node_modules
./node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
