/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
#nav {
  background-color: white;
  height: 100px;
  border-bottom: 3px solid black;
  position: fixed;
  top:0;
  z-index: 99999;
  white-space: nowrap;
  overflow: hidden;
}
.mainText {
  font-style: italic;
}
.mainContentHeader {
  font-size: 20px;
  font-weight: bold;
}
.mainTitleText {
  font-weight: bold;
  font-size: 14px;
  /*white-space: nowrap;*/
}
.supportingText {
  font-size: 14px;
  font-style: italic;
}
.boxBackgroundTwo {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 2%;
  /*opacity: .9;*/
  min-height: 150px;
  margin-bottom: 1%;
}
.centerMeTimbers {
  margin-bottom: 2%;
}
.borderBox {
  margin-left: 2%;
}
.portImageGroup {
  border: 1px solid black;

  max-height: 200px;
}
.textAlignPort {
  margin-left: 15%;
}
.contactText {
  font-size: 20px;
  font-weight: bold;
}
#education {
  margin-top: 10px;
}
.mainText {
  font-style: italic;
}
.center {
  text-align: center;
}
.boxBackground {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  /*opacity: .9;*/
  min-height: 250px;
}
#rightSide {
  position: fixed;
  top: 115px;
  right:0;
}
#mainNameHeader {
  letter-spacing: 34px;
  font-size: 39px;
  text-align: center;
}
#emailFormat {
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
}
#fixNavBar {
  text-align: center;
}
.textAlign {
  padding:0 5px 5px 5px;
  font-size: 14px;
  font-weight: bold;
}
